In [33]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.datasets import make_regression

from linear_regression import MyLineReg

In [2]:
from sklearn.datasets import load_diabetes

data = load_diabetes(as_frame=True)
X, y = data['data'], data['target']
X.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641

In [3]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=42, random_state=42)
X.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641

In [4]:
reg = MyLineReg()

In [5]:
print(reg)

MyLineReg class: n_iter=100, learning_rate=0.1

In [6]:
reg.fit(X_train, y_train, verbose=10)

1|loss: 28629.76515827694
10|loss: 6200.514712081213
20|loss: 5723.140872626733
30|loss: 5648.874015921799
40|loss: 5581.433067631076
50|loss: 5516.173860799356
60|loss: 5452.970054005294
70|loss: 5391.749981877963
80|loss: 5332.445107018017
90|loss: 5274.9893361245495
100|loss: 5219.318925750446

In [7]:
reg_2 = MyLineReg(learning_rate= lambda iter: 0.5 * (0.85 ** iter), reg='l1')

In [8]:
reg_2.fit(X_train, y_train, verbose=10)

1|loss: 28629.76515827694
10|loss: 5698.700482214398
20|loss: 5662.065315715976
30|loss: 5654.931943663142
40|loss: 5653.530521197719
50|loss: 5653.254731106566
60|loss: 5653.200439516829
70|loss: 5653.189751063739
80|loss: 5653.187646787544
90|loss: 5653.187232509678
100|loss: 5653.187150948981

In [11]:
preds = reg_2.predict(X_test)

In [13]:
mean_absolute_error(y_test, preds)

69.22630571437837

In [14]:
mean_squared_error(y_test, preds)**0.5

78.72087385966672

In [27]:
reg_3 = MyLineReg(300, learning_rate=lambda iter: 0.75 * (0.75 ** iter), 
                  metric='mae', reg='l1', sgd_sample=0.4)

In [28]:
reg_3.fit(X_train, y_train, verbose=20)

1|loss: 67.0551139521069
20|loss: 64.37847056153966
40|loss: 64.37674328323183
60|loss: 64.37671570328476
80|loss: 64.37671567395623
100|loss: 64.37671567391921
120|loss: 64.37671567391914
140|loss: 64.37671567391914
160|loss: 64.37671567391914
180|loss: 64.37671567391914
200|loss: 64.37671567391914
220|loss: 64.37671567391914
240|loss: 64.37671567391914
260|loss: 64.37671567391914
280|loss: 64.37671567391914
300|loss: 64.37671567391914

In [29]:
preds_3 = reg_3.predict(X_test)

In [30]:
mean_absolute_error(y_test, preds_3)

69.68829705978324

In [31]:
reg_3.weights

ones    152.486477
age       3.905365
sex       1.313481
bmi       9.481377
bp        7.991191
s1        3.345160
s2        2.969764
s3       -4.960788
s4        7.302738
s5        9.224481
s6        6.540809
Name: target, dtype: float64

In [40]:
X, y = make_regression(n_samples=150, n_features=14, n_informative=10, noise=15, random_state=42)
X = pd.DataFrame(X).round(2)
y = pd.Series(y)
X.columns = [f'col_{col}' for col in X.columns]
X_test = X.sample(20, random_state=42)

In [41]:
X_test.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13
73,-0.02,0.66,0.22,-0.80,2.01,2.53,1.19,-0.53,-0.03,1.79,-1.38,-0.52,-0.18,-0.73
18,-0.07,-0.84,1.36,0.98,-0.31,0.36,1.00,-0.65,-1.11,-1.20,-0.48,0.81,0.33,-0.19
118,0.12,0.62,-0.95,-0.73,2.06,0.32,1.62,-0.25,-0.65,-0.80,-0.18,-0.48,0.02,1.37
78,-2.65,0.20,1.50,-0.55,-0.14,1.25,1.09,-2.07,-0.71,0.11,-0.03,-0.25,-0.57,-0.54
76,1.54,0.22,0.18,-1.76,0.93,2.06,2.01,1.21,-0.55,2.56,-1.53,-0.56,-1.42,1.26

In [51]:
reg_4 = MyLineReg()
reg_4

MyLineReg class: n_iter=100, learning_rate=0.1

In [52]:
reg_4.fit(X, y)

In [53]:
preds = reg_4.predict(X_test)

In [54]:
y_test = y[X_test.index]

In [56]:
mean_absolute_error(y_test, preds), mean_squared_error(y_test, preds)**0.5

(10.461010872522133, 12.783133023358722)

In [59]:
reg_4.get_coef()

col_0     -0.183615
col_1     14.808384
col_2     31.494156
col_3     32.939105
col_4     66.449338
col_5     -1.362484
col_6      0.180404
col_7      1.487620
col_8     70.753006
col_9     17.792077
col_10    64.977384
col_11    90.761496
col_12    72.312414
col_13    40.988929
dtype: float64